@model IEnumerable<WebApplicationTest.Models.VideoHosting>
@{
    ViewBag.Title = "Тестовое заданиеe";
}



    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td><p>Название видео</p></td>
                        <td><p>Источник  </p></td>
                        <td><p>Время</p></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var video in Model)
                    {
                        <tr>
                            <td><p>@video.NameVideo</p></td>
                            <td><p>@video.NameHosting</p></td>
                            <td><p>@(video.Time.ToString("d MMMM yyyy, HH:mm"))</p></td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
